/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

/* End Font */

/* Start Body */
body {
    color : #234565;
    font-family: Arvo, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin:0;
    padding: 0;
    background-color: whitesmoke;
}

    
 

/* End Body */

/* Start Debug */
.bg-blue{
        background-color: rgba(29, 139, 212, 0.959)
}
.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: rgb(183, 196, 4);
}
.bg-yellowgreen {
    background-color: yellowgreen;
}
/*  End Debug */
/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;

}
.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: red;
    text-decoration: none;
}
a:hover,
a:active {
    color : #000000;
    text-decoration: none;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.snip1310 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1310 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.snip1310 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
}
.snip1310 a {
  padding: 0.3em 0.8em;
  backface-visibility: hidden;
  color: #bfbfbf;
  display: block;
  line-height: 2em;
  padding: 0 1em;
  position: relative;
  text-decoration: none;
}
.snip1310 a:after {
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  color: #c0392b;
  content: attr(data-hover);
  top: 0;
  line-height: 2em;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.snip1310 li:hover a,
.snip1310 li.current a {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: transparent;
}
.snip1310 li:hover a:after,
.snip1310 li.current a:after {
  opacity: 1;
}
/* Demo purposes only */
body {
  background-color: #212121;
}

/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {

    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding : 20px 0;
    
}
.jumbotron h1 {
    font-size: 32PX;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one{
    float:left;
    width: 50%;
}
.main-home-two{
    float:right;
    width: 50%;

}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 200px;
}
.home-center {
    margin: auto;
    float: none;
}

/* End Main */

/* Start Box */
.box-heading {
    background-color: #eaecef;
    border : 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin : 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: aliceblue;
    border : 1px solid #eaecef;
    border-top: 0;
    margin : 0;
    padding:10px 20px;
}
/* End Box */

/* Start New Sekunder */
.menu-sekunder{
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    font-size: 14px;
    margin: auto;
    text-transform:  uppercase;
    
}
.menu-sekunder-ul {
    padding: 0;
}
.menu-sekunder-li {
    list-style: disc;
}
.menu-sekunder li a 
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}

/* End New Sekunder */

/* Start Effect */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cardo);
figure.snip1524 {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}

figure.snip1524 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

figure.snip1524 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

figure.snip1524 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0%;
  -ms-transform-origin: 0 0%;
  transform-origin: 0 0%;
}

figure.snip1524 h2,
figure.snip1524 p {
  line-height: 1.5em;
  margin: 0;
}

figure.snip1524 h2 {
  font-family: 'Cardo', serif;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

figure.snip1524 p {
  padding: 8px 0 15px;
}

figure.snip1524 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

figure.snip1524:hover > img,
figure.snip1524.hover > img {
  opacity: 0.2;
}

figure.snip1524:hover figcaption,
figure.snip1524.hover figcaption {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

/* End Effect */

/* Start Effect  */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1559 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1559 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1559 .profile-image {
  padding: 15% 10% 0;
}

.snip1559 .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}

.snip1559 figcaption {
  padding: 5% 10% 15%;
}

.snip1559 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1559 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.snip1559 .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.snip1559 .icons i:hover {
  color: #555;
}

.snip1559 .icons i a {
  text-decoration: none;
}

/*End Effect */

/* Start testimoni */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
/* Demo purposes only */
body {
  background-color: #212121;
}
/* End testimoni */


/* Start layanan */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);
.snip1265 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 50px 10px 10px;
}
.snip1265 .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  background-color: #262626;
  border: 1px solid #1e1e1e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.snip1265 .plan:hover,
.snip1265 .plan.hover {
  background-color: #1c1c1c;
}
.snip1265 .plan:hover i,
.snip1265 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.snip1265 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1265 header {
  position: relative;
  padding: 20px 10px;
}
.snip1265 header i {
  font-size: 56px;
  margin: 0 15px;
  color: #f39c12;
  display: inline-block;
  float: left;
}
.snip1265 .plan-title {
  top: 0;
  font-weight: 800;
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.snip1265 .plan-cost {
  margin: 0;
  opacity: 0.2;
}
.snip1265 .plan-price {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 800;
  font-size: 1.3em;
}
.snip1265 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.snip1265 .plan-features {
  padding: 0;
  margin: 0 0 40px;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
  text-align: left;
}
.snip1265 .plan-features li {
  padding: 5px 5%;
  font-weight: 500;
  opacity: 0.5;
  border-left: 5px solid #f39c12;
  margin: 2px 20px;
}
.snip1265 .plan-select {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.snip1265 .plan-select a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 40px;
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  background-color: #f39c12;
}
.snip1265 .plan-select a:hover {
  background-color: #262626;
}
.snip1265 .featured {
  margin-top: -10px;
  background-color: #262626;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.snip1265 .featured .plan-select a {
  margin: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .snip1265 .plan {
    width: 50%;
  }
  .snip1265 .plan-title,
  .snip1265 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1265 .plan-select a,
  .snip1265 .featured .plan-select a {
    margin: 20px;
  }
  .snip1265 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1265 .plan {
    width: 100%;
  }
}

/* End layanan */